<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Barlow|Montserrat:400,600" rel="stylesheet">
<link href="style.css" rel="stylesheet">

</head>

<body>
        <div class="container">
                <center>
                <h1 class="heading" style="font-family: 'Barlow', sans-serif;margin: 50px;auto"><b>CLOSE CALL</b></h1>
                <form>
                <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" style="border: none; font-family: 'Barlow', sans-serif;width: 320px;margin: 10px auto">
                </div>
                <div class="form-group">
                        <input type="password" class="form-control" id="pass" placeholder="Enter Password" style="border: none; font-family: 'Barlow', sans-serif;width: 320px;margin: 10px auto">
                </div>
                <button type="submit" class="btn btn-primary btn-block" style="background-color:#B62525;color:white;border: none;font-size: 20px;margin: 20px auto;font-family: 'Barlow', sans-serif;width: 320px">SUBMIT</button><br>
                          <p class="para" style="font-family: 'Barlow', sans-serif;font-size: 20px;">NOT A MEMBER?</p>
                          <button type="submit" class="btn btn-primary btn-block" style="background-color:#B62525;color:white;border: none;font-size: 20px;font-family: 'Barlow', sans-serif;width: 320px">REGISTER</button>
                    </form>
                    <div class="footer">
                            <img src="wtm1.jpg">
                          </div>
                </center>
              </div>
</div>
</body>
