<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Barlow|Montserrat:400,600" rel="stylesheet">
<link href="style.css" rel="stylesheet">

</head>

<body>
        <div class="container">
                <center>
                <h1 class="heading"><b>CLOSE CALL</b></h1>
                <h3 class="heading1"> LOGIN</h3>
                <form action="">
                <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                        <input type="password" class="form-control" id="pass" placeholder="Enter Password">
                </div>
                <input type="submit" class="btn btn-primary btn-block" id="btn" value="SUBMIT"><br>
                          <p class="para">NOT A MEMBER?</p>
                <a href="2.html"><button type="submit" class="btn btn-primary btn-block" id="btn">REGISTER</button></a>
                    </form>
                    <div class="footer">
                            <img src="wtm1.jpg">
                          </div>
                </center>
              </div>
</div>
</body>
