<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Barlow|Montserrat:400,600" rel="stylesheet">
<link href="style.css" rel="stylesheet">
</head>
<body>

	<center>
		<div class="container">
            <h2 style="font-family: 'Barlow', sans-serif;margin: 30px auto"><b>YOUR DETAILS</b></h2>
			<form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Enter Your name" style="border: none; font-family: 'Barlow', sans-serif;width: 320px;margin: 10px auto">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="contact" placeholder="Contact no" style="border: none; font-family: 'Barlow', sans-serif;width: 320px;margin: 10px auto">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email ID" style="border: none; font-family: 'Barlow', sans-serif;width: 320px;margin: 10px auto">
                    </div>
                    <div class="form-group">
                            <input type="password" class="form-control" name="pwd" placeholder="Password" style="border: none; font-family: 'Barlow', sans-serif;width: 320px;margin: 10px auto">
                    </div>
                   
                    <button type="submit" class="btn btn-primary btn-block" style="background-color:#B62525;color:white;border: none;font-size: 20px;margin: 20px auto;font-family: 'Barlow', sans-serif;width: 320px">JOIN</button><br>
                    </form>
                    <div class="footer">
                            <img src="wtm1.jpg">
                          </div>
	</center>

</body>
</html>